body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(233, 243, 247);
}

h1, h2 {
    font-weight: 800;
    color:rgb(0, 0, 15);
    background-color: rgb(211, 233, 241);
    
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

a:link {
    color: rgb(0, 0, 15); 
}

a:visited {
    color: #260135; 
}

ol {
    list-style-type: lower-roman;
    color:rgb(14, 14, 59)
    
}

ul {
    list-style-type: disc;
    color:rgb(14, 14, 59)

}



